<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>about</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <a href="/calculator">Calculator</a>
    <a href="/about" class="active">About</a>
</nav>

<div class="about">
<h1>THIS IS THE ABOUT PAGE!</h1>
<p>' this page is all about calculators(it includes a calculator as well.).This
page will show WHAT IS CALCULATOR?,& also some FACTS about calculator.</p>
<h6>This page is made by
    Shiura & Jazlaa also known as LILIEZ</h6>
</div>

<div id="image">
    <img src="{{url_for('static',filename='images/numbers.jpg')}}"/>
    <img src="{{url_for('static',filename='images/numfactors.png')}}"/>
</div>

</body>
</html>











